<app-public-navbar></app-public-navbar>

<div class="container">

  <!-- Loading -->
  <div class="row mt-3">
    <div *ngIf="!(posts | async)" class="col">
      <i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </div>

  <!-- Post -->
  <div class="row mt-3" *ngFor="let post of posts | async">
    <div class="col">

      <!-- Title -->
      <a href="/post/{{ post.url }}">
        <h1 [innerText]="post.title"></h1>
      </a>

      <!-- Date -->
      <p [innerText]="post.updatedAt | date:'medium'"></p>

      <!-- Subtitle -->
      <p class="lead" *ngIf="post.subtitle" [innerText]="post.subtitle"></p>

      <!-- Headline -->
      <p [innerText]="post.headline | br"></p>

      <hr>
    </div>
  </div>
</div>
