<app-public-navbar></app-public-navbar>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-3">Welcome to {{title}}!</h1>
    </div>
  </div>
  <div class="row" *ngFor="let post of posts | async">
    <div class="col">
      <a href="/post/{{ post.url }}">
        <h3 class="display-4">
          {{ post.title }}
        </h3>
      </a>
      <small class="text-muted">{{ post.subtitle }}</small>
      <p><span [innerHTML]="post.content| slice:0:1000 | br"></span>...</p>
      <hr>
    </div>
  </div>
</div>