<app-public-navbar></app-public-navbar>

<div class="container">

  <!-- Loading -->
  <div class="row mt-3">
    <div *ngIf="!(posts | async)" class="col">
      <i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </div>

  <!-- Post -->
  <div class="row mt-1" *ngFor="let post of posts | async">
    <div class="col">

      <article>
        <!-- Title -->
        <h1 [innerText]="post.title"></h1>

        <!-- Subtitle -->
        <p class="lead" *ngIf="post.subtitle" [innerText]="post.subtitle"></p>

        <!-- Date -->
        <p>
          <i class="fa fa-fw fa-calendar"></i>
          <small [innerText]="post.createdAt | date:'medium'"></small>
          &middot;
          <i class="fa fa-fw fa-refresh"></i>
          <small [innerText]="post.updatedAt | date:'medium'"></small>
        </p>

        <!-- Content -->
        <p [innerHTML]="post.content | br"></p>
      </article>

    </div>
  </div>
</div>
