<app-admin-navbar></app-admin-navbar>

<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h3 class="display-4">Post</h3>
    </div>
    <div class="col">
      <a role="button" href="#!/admin/post/view" class="btn btn-success btn-lg float-right align-middle mt-2">
          Save
      </a>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="subtitle">Subtitle</label>
          <input type="text" class="form-control" id="subtitle">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" rows="10"></textarea>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a role="button" href="#!/admin/posts" class="btn btn-outline-danger btn-lg btn-block align-middle mt-2">
            Delete
        </a>
    </div>
  </div>
</div>
