<app-admin-navbar></app-admin-navbar>

<div class="container">

  <!-- Loading -->
  <div class="row mt-3">
    <div *ngIf="!ready && !failed" class="col">
      <i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row mt-2" *ngIf="failed">
    <h3>Post not found 🤷‍</h3>
  </div>

  <div class="row mt-2" *ngIf="ready">

    <!-- Heading -->
    <div class="col">
      <h3 class="display-4">Edit Post</h3>
    </div>

    <!-- Save -->
    <div class="col">
      <button type="button" class="btn btn-success btn-lg float-right align-middle mt-2" (click)="onSubmit(form)">
        <i class="fa fa-fw" aria-hidden="true" [ngClass]="{'fa-floppy-o': !saving, 'fa-refresh fa-spin': saving}"></i>
        Save
      </button>
    </div>
  </div>

  <div class="row mt-2 mb-2" *ngIf="ready">
    <div class="col">
      <form name="PostForm" #form>

        <!-- Title -->
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="Title" required [(ngModel)]="post.title">
        </div>

        <!-- Subtitle -->
        <div class="form-group">
          <label for="subtitle">Subtitle</label>
          <input type="text" class="form-control" id="subtitle" name="Subtitle" [(ngModel)]="post.subtitle">
        </div>

        <!-- Headline -->
        <div class="form-group">
          <label for="Headline">Headline</label>
          <textarea type="text" class="form-control" id="headline" name="Headline" required rows="5" [(ngModel)]="post.headline"></textarea>
        </div>

        <!-- Content -->
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" name="Content" required rows="15" [(ngModel)]="post.content"></textarea>
        </div>

      </form>
    </div>
  </div>

  <!-- Delete -->
  <div class="row mb-4" *ngIf="ready">
    <div class="col">
      <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="delete()">Delete</button>
    </div>
  </div>

</div>
