<app-admin-navbar></app-admin-navbar>

<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h3 class="display-4">Post</h3>
    </div>
    <div class="col">
      <a role="button" href="/admin/post" class="btn btn-primary btn-lg float-right align-middle mt-2">
        Edit
      </a>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h1 class="display-4">Duis mollis, est non commodo luctus</h1>
      <p class="lead">
        Cras ultricies ligula sed magna dictum porta
      </p>
      <p>
        Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar
        a. Lorem ipsum dolor sit amet, consecteturadipiscing elit. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
      <em ng-bind="post.createdAt | date:'medium'"></em>
      &middot;
      <em ng-bind="post.updatedAt | date:'medium'"></em>
      <br>
      <br>
      <p>
        URL:
        <span class="text-muted" ng-bind="post.url"></span>
        <p>
          <p>
            Published? &nbsp;
            <span ng-if="post.publish">
              <i class="fa fa-fw fa-check-square-o"></i> Yes
            </span>
            <span ng-if="!post.publish">
              <i class="fa fa-fw fa-square-o"></i> No
            </span>
          </p>
    </div>
  </div>

</div>
